<h1>Add Candidates</h1>
<form action="/candidates" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="abc" id="">
  <input type="submit" value="go!">
</form>

<div>
<%= form_for(@candidate) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :party %>
    <%= form.text_field :party %>
  </div>
  <div>
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>
  <div>
    <%= form.label :politics %>
    <%= form.text_area :politics %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>